{% extends "dashboard_base.html" %}
{% load i18n %}
{% load bootstrap_form %}

{% block css_scripts %}
    <!-- Bootstrap Core CSS -->
    <link href="{{STATIC_URL}}css/bootstrap.min.css" rel="stylesheet">

    <!-- MetisMenu CSS -->
    <link href="{{STATIC_URL}}css/metisMenu.min.css" rel="stylesheet">

    <!-- DataTables CSS -->
    <link href="{{STATIC_URL}}css/dataTables.bootstrap.css" rel="stylesheet">

    <!-- DataTables Responsive CSS -->
    <link href="{{STATIC_URL}}css/dataTables.responsive.css" rel="stylesheet">

    <!-- Custom CSS -->
    <link href="{{STATIC_URL}}css/sb-admin-2.css" rel="stylesheet">

    <!-- Custom Fonts -->
    <link href="{{STATIC_URL}}css/font-awesome.min.css" rel="stylesheet" type="text/css">
{% endblock %}

{% block page_content %}
 <div class="row">
    <div class="col-lg-12">
       {% block page_content_title %} <h1 class="page-header">{{ page_name|safe }}</h1>{% endblock %}
    </div>
</div>
<div class="row">
    <!-- /.col-lg-12 -->
     <div class="col-lg-12">
         {% block message %}
            {% if messages %}
                {% for message in messages %}
                <div class="alert alert-{% if message.tags %}{{ message.tags }} alert-dismissible"{% endif %}>
                    <button type="button" class="close" data-dismiss="alert" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                    {{ message }}
                </div>
                {% endfor %}
            {% endif %}
         {% endblock %}
         {% block selection_actions %}
            {{ actions_menu }}
            {{ actions_html }}
         {% endblock %}
         &nbsp;
         {% block datatable %}
           {% if object_list.count <= 1 %}
             <div class="dataTable_wrapper">
                <table class="datatable table table-striped table-bordered table-hover" id="datatable">
                    <thead>
                        <tr>
                            {% for field in fields %}
                                <th>{{ field.verbose_name }}</th>
                            {% endfor %}
                        </tr>
                    </thead>
                    <tbody>
                        {% for o in object_list %}
                            <tr>
                                {% for field in fields %}
                                    <td attr_name="obj_{{ field.name }}">
                                        <a href="{{ o.get_absolute_url }}">{{ o|getattr:field.name|safe}}</a>
                                    </td>
                                {% endfor %}
                            </tr>
                        {% endfor %}
                    </tbody>
                </table>
             </div>
           {% else %}
                {% if filters_html %}
                <div class="filters panel panel-default">
                    <div class="panel-heading">
                        <button class="text-muted btn" aria-controls="collapseOne" data-toggle="collapse" data-target=".filter-collapse" aria-expanded="false">
                            <span class="fa fa-filter"></span> {% trans 'Filters' %} <span class="fa fa-angle-down"></span>
                        </button>
                        <div class="pull-right">
                            <button id="filter_clear_button" class="btn btn-sm btn-link">{% trans 'Clear' %}</button>
                            <button id="filter_button" class="btn btn-sm btn-primary">{% trans 'Filter' %}</button>&nbsp;&nbsp;
                        </div>
                        <div class="clear"></div>
                    </div>
                     {{ filters_html }}
                </div>
                {% endif %}
               <div class="dataTable_wrapper">
                {{ datatable }}
               </div>
           {% endif %}
         {% endblock %}

     </div>
</div>


{% endblock %}

{% block js_scripts %}

    <!-- Bootstrap Core JavaScript -->
    <script src="{{STATIC_URL}}js/bootstrap.min.js"></script>


    <script src="{{STATIC_URL}}js/jquery.dataTables.js"></script>
    <script src="{{STATIC_URL}}js/dataTables.bootstrap.min.js"></script>

    <!-- Metis Menu Plugin JavaScript -->
    <script src="{{STATIC_URL}}js/metisMenu.min.js"></script>

    <!-- Custom Theme JavaScript -->
    <script src="{{STATIC_URL}}js/sb-admin-2.js"></script>

    <!-- Page-Level Demo Scripts - Tables - Use for reference -->

    <script type="text/javascript" charset="utf8" src="{{ STATIC_URL }}js/filters.js"></script>
    {{ filters_js }}

    <script>
        var language = {
            "emptyTable":     "{% trans 'No data available in table'%}",
            "info":           "{% trans 'Showing _START_ to _END_ of _TOTAL_ entries'%}",
            "sInfo":          "{% trans 'Showing _START_ to _END_ of _TOTAL_ entries'%}",
            "infoEmpty":      "{% trans 'Showing 0 to 0 of 0 entries'%}",
            "infoFiltered":   "({% trans 'filtered from _MAX_ total entries'%})",
            "sInfoFiltered":   "({% trans 'filtered from _MAX_ total entries'%})",
            "infoPostFix":    "",
            "thousands":      ",",
            "lengthMenu":     "{% trans 'Show _MENU_ entries'%}",
            "loadingRecords": "{% trans 'Loading'%}...",
            "processing":     "{% trans 'Processing'%}...",
            "search":         "{% trans 'Search'%}:",
            "zeroRecords":    "{% trans 'No matching records found'%}",
            "paginate": {
                "first":      "{% trans 'First'%}",
                "last":       "{% trans 'Last'%}",
                "next":       "{% trans 'Next'%}",
                "previous":   "{% trans 'Previous'%}"
            },
            "aria": {
                "sortAscending": "{% trans 'activate to sort column ascending'%}",
                "sortDescending": "{% trans 'activate to sort column descending'%}"
            }
        };
    </script>
    <script>
        function getCookie(name) {
            var cookieValue = null;
            if (document.cookie && document.cookie != '') {
                var cookies = document.cookie.split(';');
                for (var i = 0; i < cookies.length; i++) {
                    var cookie = $.trim(cookies[i]);
                    // Does this cookie string begin with the name we want?
                    if (cookie.substring(0, name.length + 1) == (name + '=')) {
                        cookieValue = decodeURIComponent(cookie.substring(name.length + 1));
                        break;
                    }
                }
            }
            return cookieValue;
        }
        var csrftoken = getCookie('csrftoken');

        function csrfSafeMethod(method) {
            // these HTTP methods do not require CSRF protection
            return (/^(GET|HEAD|OPTIONS|TRACE)$/.test(method));
        }

        function sameOrigin(url) {
            var host = document.location.host; // host + port
            var protocol = document.location.protocol;
            var sr_origin = '//' + host;
            var origin = protocol + sr_origin;
            return (url == origin || url.slice(0, origin.length + 1) == origin + '/') ||
                (url == sr_origin || url.slice(0, sr_origin.length + 1) == sr_origin + '/') ||
                !(/^(\/\/|http:|https:).*/.test(url));
        }

        $.ajaxSetup({
            beforeSend: function(xhr, settings) {
                if (!csrfSafeMethod(settings.type) && sameOrigin(settings.url)) {
                    xhr.setRequestHeader("X-CSRFToken", csrftoken);
                }
            }
        });
    </script>
    {% if object_list.count > 1 %}
        <script type="text/javascript" charset="utf8" src="{{ STATIC_URL }}js/datatableview_extended.js"></script>
        <script>
            var common_options = {
                    language: language,
                    responsive: true,
                    pageLength: 100,
                    columnDefs: [
                        {% for c in fields %}{"name": "{{ c.name }}", "targets": {{ forloop.counter0 }}},
                        {% endfor %}
                    ]{% if filters_html %},
                    fnServerParams: function(aoData){
                        DashboardFilters.add_datatable_filters(aoData);
                    }
                {% endif %}
                };
            datatableview.auto_initialize = false;
            $(function(){
                // Or, if there are common options that should be given to all select elements,
                // you can specify them now.  data-* API attributes will override these options.

                datatableview.initialized_datatables.push(datatableview.initialize($('.datatable'), common_options));
            });
        </script>
    {% else %}
        <script>
        $(document).ready(function() {
            datatableview.initialized_datatables.push($('.datatable').DataTable(common_options));
        });
        </script>
    {% endif %}
    {{ actions_js }}
    <script>
        $(document).ready(function() {
                $('.datatable tbody').on( 'click', 'tr', function () {
                    $(this).toggleClass('selected');
                    if ($('tr.selected').size() == 0){
                        $('button#multiple-selection-action').attr('disabled','');
                        $('button#multiple-selection-action-toggle').attr('disabled','');
                    }else{
                        $('button#multiple-selection-action').removeAttr('disabled');
                        $('button#multiple-selection-action-toggle').removeAttr('disabled');
                    }
                });

        });
    </script>
{% endblock %}