{% load i18n %}
<script type="text/javascript">
    var erase_obj = [];
    $('#remove').click(function(e){
        e.preventDefault();
        erase_obj = {{ obj_id }};
        var name = [];
        var message = "{% trans 'Do you really want to delete this record?'%} "
        $('#remove-confirm-message').text(message);
        $('#remove-prompt').modal();
    });

    $('#remove-confirm').click(function(){
        $.ajax({
            url: '{% url ajax_view obj_id %}',
            type: 'post',
            data: {'action': 'remove', 'data': erase_obj},
            success: function(data){
                $('#remove-prompt').modal('hide');
                Dashboard.show_message("{% trans 'Deleting...' %}", 'warning');
                window.location = '{% url list_view %}';
            },error: function(){
                $('#remove-prompt').modal('hide');
                Dashboard.show_message("{% trans 'Some error occurred.' %}", 'danger');
            }
        })
    });
</script>
