{% load i18n %}
<script type="text/javascript">
    var erase_objs = [];
    $('#remove').click(function(e){
        e.preventDefault();
        erase_objs = [ {{ obj_id }} ];
        var name = [];
        var message = "{% trans 'Do you really want to delete this record?'%} "
        $('#remove-confirm-message').text(message);
        $('#remove-prompt').modal();
    });

    $('#remove-confirm').click(function(){

        $.ajax({
            url: '{% url list_view %}',
            type: 'post',
            data: JSON.stringify({'action': 'remove', data: {'ids': erase_objs} }),
            success: function(data){
                $('#remove-prompt').modal('hide');
                Dashboard.show_message("{% trans 'Deleting...' %}", 'warning');
                window.location = '{% url list_view %}';
            },error: function(){
                $('#remove-prompt').modal('hide');
                Dashboard.show_message("{% trans 'Some error occurred.' %}", 'danger');
            }
        })
    });
</script>
